.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: space-evenly;
    align-items: center;
}